<!DOCTYPE html>
<html>
<head>
	<title>All Secrets</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
	<style>
		body {
			background-image: url(http://s1.picswalls.com/wallpapers/2015/09/08/white-hd-wallpaper_021211332_265.jpg);
			background-size: cover;
		}
	</style>
<body>

<div class="box" style="width:1100px">
<h1 style="text-shadow:2px 2px 8px; margin-left:15px">Anonymous Secrets</h1>
<hr>
<% @secrets.each do |secret| %>

<form method="post" action="/secrets/<%= secret.id %>">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">

	<p style="margin-left:20px"><strong><%= secret.content %></strong></p>
	<p style="margin-left:20px"><%= secret.created_at%></p>
</form>

<% if secret.users_liked.include? current_user %>
	<form method="post" action="/likes/<%= secret.find_like_id current_user %>">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="secret_id" value="<%= secret.id %>">
		<input type="hidden" name="_method" value="delete">
			<p style="margin-left:50px"><%= secret.users_liked.count %> likes    <button class="btn btn-warning btn-xs">Unlike</button></p>
	</form>

<% else %>

<form method="post" action="/secrets">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="secret_id" value="<%= secret.id %>">
	<p style="margin-left:50px"><%= secret.users_liked.count %> likes     <button class="btn btn-success btn-xs">Like</button></p>
</form>
<% end %>
<hr>
<% end %>
</div>

</body>
</html>